form{
    margin: auto;
    width: 50%;
    
}

.form >input{
    padding: 10px;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    width: 70px;
    font-size: 10px;
    color: #716;

}

.form button{
    border: none;
    outline: none;
    background-color: blue;
    padding: 12px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;

}